<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="TiendaVirtual-ejbPU" transaction-type="JTA">
    <jta-data-source>jdbc/tiendaVirtualDB</jta-data-source>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
      <property name="eclipselink.canonicalmodel.subpackage" value="entidades1"/>
      <!-- SE ESTABLECE EL NOMBRE DE LA CARPETA PARA CADA ENTITY MODEL-->
    </properties>
  </persistence-unit>
  <persistence-unit name="TiendaVirtual-ejbPU2" transaction-type="JTA">
    <jta-data-source>jdbc/entidadFinancieraDB</jta-data-source>
    <class>co.com.entidades.InformacionFactura</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
      <property name="eclipselink.canonicalmodel.subpackage" value="entidades2"/>
    </properties>
  </persistence-unit>
</persistence>
